---
import image1 from '../images/1.jpeg'
import image2 from '../images/2.jpeg'
import image3 from '../images/3.jpeg'
import image4 from '../images/4.jpeg'
import image5 from '../images/5.jpeg'
import image6 from '../images/6.jpeg'
import image7 from '../images/7.jpeg'
import image8 from '../images/8.jpeg'
import CustomImage from '../components/CustomImage.astro'

const images = [
  {
    src: image6,
    alt: 'Une image de tresses de type twist',
    title: 'Twist',
    price: '40 - 70€',
  },
  {
    src: image2,
    alt: 'Une image de tresses de type bohemian braids',
    title: 'Bohemian braids',
    price: '70€',
  },
  {
    src: image7,
    alt: 'Une image de tresses de type passion twist',
    title: 'Passion twist',
    price: '70€',
  },
  {
    src: image8,
    alt: 'Une image de tresses de type conrows et braids',
    title: 'Conrows & braids',
    price: '70€',
  },
  {
    src: image3,
    alt: 'Une image de tresses de type conrows',
    title: 'Conrows',
    price: '40 - 70€',
  },
  {
    src: image4,
    alt: 'Une image de tresses de type knotless braids',
    title: 'Knotless braids',
    price: '70€',
  },
  {
    src: image5,
    alt: 'Une image de tresses de type box braids',
    title: 'Box braids',
    price: '70€',
  },
  {
    src: image1,
    alt: 'Une image de tresses collées',
    title: 'Tresses collées',
    price: '25 - 40€',
  },
]
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>MKHair.fr</title>
  </head>
  <body class="bg-black text-white">
    <div
      class="h-14 fixed z-20 top-0 sm:top-auto sm:bottom-0 bg-black left-0 right-0 p-3"
    >
      <img
        class="h-8 w-auto"
        src="/logo.svg"
        alt="Un logo avec écrit MKHair.fr"
      />
    </div>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 h-[calc(100vh-56px)]"
    >
      {
        images.map((image) => (
          <div class="relative">
            <h2 class="animate-slideinRight z-10 opacity-0 absolute pr-5 py-2 font-serif left-[6rem] right-0 text-right top-0 text-2xl bg-gradient-to-l from-black to-transparent mt-14">
              {image.title}
            </h2>
            <CustomImage
              className="h-[80vh] sm:h-[700px] lg:h-[calc(50vh-28px)]"
              src={image.src}
              alt={image.alt}
            />
            <h3 class="animate-slideinLeft opacity-0 absolute pl-5 py-2 font-serif left-0 right-52 bottom-0 text-2xl bg-gradient-to-r from-black to-transparent mb-4">
              {image.price}
            </h3>
          </div>
        ))
      }
    </div>
  </body>
</html>
